[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo.git
[submodule "themes/agency"]
	path = themes/agency
	url = https://github.com/writeonlycode/hugo-agency-web.git
