{{ define "main" }}
<article class="max-w-full">
    <header>
        <div class="prose dark:prose-invert">
            <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
                {{ .Title }}
            </h1>
            <div class="mt-4 text-xl text-neutral-500 dark:text-neutral-400">
                {{ .Content }}
            </div>
        </div>
    </header>

    <section class="flex flex-col gap-12 mt-16">
        {{/* Range over pages by weight and reverse the order */}}
        {{ range .Pages.ByWeight.Reverse }}
        <div class="flex flex-col gap-6 p-8 rounded-xl bg-neutral-50 dark:bg-neutral-800 shadow-sm"
            id="{{ .File.TranslationBaseName }}">
            <h2
                class="text-3xl font-bold m-0 text-neutral-900 dark:text-neutral border-b pb-4 border-neutral-200 dark:border-neutral-700">
                {{ .Title }}
            </h2>

            {{/* Full Content Display */}}
            <div class="prose dark:prose-invert max-w-none">
                {{ .Content }}
            </div>
        </div>
        {{ end }}
    </section>
</article>
{{ end }}